shamefully-hoist=true
auto-install-peers=true

pnpm_approve_builds[]=@clerk/shared
pnpm_approve_builds[]=browser-tabs-lock
pnpm_approve_builds[]=bufferutil
pnpm_approve_builds[]=core-js
pnpm_approve_builds[]=esbuild
pnpm_approve_builds[]=utf-8-validate